<!DOCTYPE html>
<html>
<head>
	<title>Institutional Elective</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container">
				<a class="navbar-brand" href="/">Institutional Elective</a>
		</div>  
	</nav>
    <div class="container">
	    {% block content %}	
	    {% endblock content %}
    </div>
</body>
<footer style="bottom:0; position:absolute; width:100%;" class="page-footer font-small text-white pt-4">
		<div class="footer-copyright bg-dark text-center py-3"><p>© 2018 Copyright:
				<a href="http://bmsce.ac.in"> BMS College of Engineering</a></p>
			  </div>
</footer>
</html>
